.contact {
  background-color: rgba(28, 16, 31, 1);
  border-top: 5px solid;
  border-image: linear-gradient(to right, #00ff00, #83009f, #0000ff);
  border-image-slice: 1;
}

.footer-div {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footergrid {
  display: flex;
  justify-content: space-between;
}

.footergrid h3 {
  font-size: 25px;
  padding-right: 80px;
}

.footergrid li {
  font-size: 30px;
  padding-top: 10px;
  position: relative;
}

.footergrid ul li {
  font-family: sans-serif;
}

.ele1::before {
  content: url("../img/icons8-outlook.svg");
  position: absolute;
  left: -50px;
  top: 3px;
}

.ele2::before {
  content: url("../img/icons8-whatsapp.svg");
  position: absolute;
  left: -50px;
  top: 3px;
}

.ele3::before {
  content: url("../img/icons8-instagram.svg");
  position: absolute;
  left: -50px;
  top: 5px;
}

.ele1 {
  word-break: break-all;
}

@media (max-width: 1220px) {
.footer-div {
  padding-left: 20px;
  padding-right: 20px;;
}
}

@media (max-width: 964px) {
  .footer-div {
    padding-left: 60px;
  }

  .footergrid {
    display: grid;
  }

  .footergrid ul {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 565px) {
  .footergrid li {
    font-size: 20px;
  }
}
